@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper{
    width: 100%;
    height: 100vh;
}

#header{
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #fec229;
}

#menu{
    list-style: none;
    display: flex;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 18.5167px;
    line-height: 22px;
    align-items: center;
}


#menu .item {
    margin:0px 25px;
}

#menu .item a {
    text-decoration: none;
    color:#626A67;
    color: rgba(0, 0, 0, 0.625);
    
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 15%;
}


.action i{
    color:#626A67;
    color: rgba(0, 0, 0, 0.625);  
}

#btn-user{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-color: #FEC329;
}

#btn-cart{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-color:  #FEC329;
}

.logo{
    width: 33,333%;
}

.banner{
    background-image: url('../hinh/banner\ 1.png');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

#menu .item a:hover{
    color: white;
}

#header img{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#review{
    width: 50%;
    text-align: left;
    margin-left: 250px;
    padding-top: 130px;
    color: #FEC329;
}

#review h3{
    font-size: 40px;
}
#review h2{
    font-size: 55px;
    line-height: 30px;
}

#review h1{
    font-size: 100px;
    line-height: 120px;
    margin-left: -5px ;
}

#review input {
    width: 191px;
    font-size: 20px;
    padding-top: 5px;
    height: 40px;
    margin-top:41px;
    background:#FEC329;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    margin-left: 10px;
}

#features{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#features img{
    width: 60px;
    height: 60px;
}

#topList{
    width: 100%;
    height: 900px;
    text-align: center;
    padding-top: 70px;
    background-color: #D9D9D9;
    padding-left: 90px;
    padding-right: 90px;
}

#topList h1{
    color: #FEC329;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-top: 50px;
    color: black;
}
.grid-item {
    align-items: center;
    display: flex;
    font-weight: bold;
}

.grid-item img{
    width: 300px;
    height: 300px;
}

#banner-2{
    width: 100%;
    height: 900px;
    background-image: url("../hinh/vegetarian-pizza.jpg");
    
    color: whitesmoke;
    padding-top: 300px;
    padding-left: 50px;
}


#DatNgay{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #FEC329;
    border: none;
    color: whitesmoke;
    font-size: 20px;
}



.contact{
    height: 450px;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.contact h2{
    color: #FEC329;
    text-align: center;
}

#lienHe{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

#openHour{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

#map{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

}

ul.sub-menu{
    position: absolute;
    padding: 50px 0px;
    list-style: none;
    background-color: #FEC329;
    align-items: center;
    width: 150px;
    height: 230px;
    margin-left: -20px;
    padding-left: 20px;
    display: none;
}

ul.sub-menu li{
    padding-top: 30px;
}

#menu{
    position: relative;
}

.modal-content {
    width: 80%;
    max-width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.item:hover .sub-menu {
    display: block;
}

#btn-search input{
    font-size: 15px;
    border: solid .25em #fff;
    width: 120px;
    border-radius: 5px;
    background-image: url('../hinh/magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
}


.action div{
    display: flex;
    align-items: center;
}

.banner-danhmuc{
    height: 250px;
    width: 100%;
    background-image: url('../hinh/banner-danhmuc.png');
    background-size: cover;
    background-position-y: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 18.5167px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color:#626A67;
    color: rgba(0, 0, 0, 0.625);
}


.danhMuc{
    background-color: rgb(71,71,71);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.danhMuc input[type="button"]{
    color: white;
    background-color: rgb(71,71,71);
    border: none;
    width: 33.333333%;
    height: 50px;
}


.SanPham-burger{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    line-height: 30px;
    height: 1200px;
}

.SanPham-burger div {
    margin-bottom: 0px;
}

.sp-item img{
    width: 100%;
}


.col-3{
    margin-top: 120px;
    height: 300px;
}

.sp-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    text-align: center;
    row-gap: 20px;
}

.sp-item input{
    background-color: #FEC329;
    border: none;
    width: 150px;
    color: white;
    height: 35px;
    border-radius: 5px;
    display: none;
}

.sp-item:hover>input{
    display: block;
}

.sp-item:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3), -3px -3px 3px rgba(0, 0, 0, 0.127);
}


.banner-gt{
    height: 560px;
    width: 100%;
    background-image: url('../hinh/gioi-thieu.jpg');
    background-size: cover;
    color: whitesmoke;
    padding-top: 355px;
    padding-left: 50px;
}

.banner-gt h1{
    font-size: 60px;
}

.noiDung{
    width: 80%;
    margin-left: 10%;
    padding-top: 50px;
    font-size: 23px;
}

.noiDung h3{
    font-size: 50px;
    color: #fec229;
    margin-bottom: 30px;
}


.Doan{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    column-gap: 20px;
}

.gt3{
    height: 600px;
    width: 100%;
    background-image: url('../hinh/gt3.webp');
    background-size: cover;
    color: whitesmoke;
    font-size: 23px;
    padding-top: 120px;
    padding-left: 50px;
}

.gt3 input{
    background-color: #fec229;
    color: whitesmoke;
    border-radius: 20px;
    width: 260px;
    height: 40px;
    margin-top: 20px;
}

.input-e{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-e input[type="email"]{
    width:  600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.input-e input{
    height: 50px;
}

.input-e input[type="button"]{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    width: 60px;
    background-color: #fec229;
    color: whitesmoke
}

.nhapEmail label{
    padding-left: 410px;
    margin-top: 50px;
    font-size: 20px;
}

.form-contact{
    width: 80%;
    margin-left: 10%;
    height: 1000px;
}

.form-contact{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.left input{
    height: 40px;
    width: 500px;
    margin-bottom: 30px;
}

.left textarea{
    width: 500px;
    height: 200px;
    margin-top: 5px;
}

.left input[type="submit"]{
    width: 200px;
    background-color: #fec229;
    border: #fec229;
    border-radius: 20px;
    margin-top: 20px;
}

.thanhToan{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 100px;
    height: 1200px;
    margin-bottom: 220px;
}

.thanhToanLeft{
    width: 40%;
    height: 600px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 50px;
}

.thanhToanLeft input{
    height: 40px;
    border: 2px solid black;
}

.thanhToanLeft span{
    color: red;
}

.thanhToanRight{
    width: 55%;
    height: 1200px;
    display: flex;
    flex-direction: column;
}

.phuongThuc{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.phuongThucVC{
    border: 2px solid black;
    height: 200px;
    padding-top: 10px;
    padding-left: 15px;
    width: 47%;
}

.phuongThucTT{
    border: 2px solid black;
    height: 100px;
    padding-top: 10px;
    padding-left: 15px;
    width: 47%;
}

.table img{
    width: 100px;
}

.table td,td,th{
    border: 1px solid black;

}

.table{
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}


.table td{
    padding-top: 50%;
}


.table table{
    vertical-align: middle;
    text-align: center;
    width: 95%;
    height: 200px;
}

.table td input[type="button"]{
    background-color: #626A67;
    width: 35px;
    height: 50px;
    border: none;
    align-items: center;
}

.table td input[type="text"]{
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 50px;
    border-right: none;
    border-left: none;
}

.thanhToan{
    height: 1000px;
  
}

.table .row div{
    display: flex;
}

.table .row div input[type="button"]{
    width: 60px;
    background-color: #FEC329;
    border: 1px solid  #fec229 ;
}

.table .row div input[type="text"]{
    width: 100%;
}

.ghiChu{
    height: 500px;
    border: 2px solid black;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.ghiChu input[type="text"]{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.ghiChu input[type="button"]{
    margin-top: 20px;
    background-color: #fec229;
    border: none;
    color: white;
    height: 40px;
    margin-left: 515px;
    margin-right: 10px;
    border-radius: 5px;
}

.chiTietSP{
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #626A67;
    color: white;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    line-height: 40px;
}

.chiTietSP input{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #fec229;
    color: white;
    margin-top: 10px    ;
}



.gia{
    font-size: 25px;
    font-weight: bold;
}

.nameSP{
    font-size: 30px;
    margin-bottom: 40px;
}

.spLienQuan{
    width: 80%;
    margin-left: 12%;
    margin-bottom: 150px;
}

.spLienQuan img{
    width: 210px;
}
.lienQuan{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: -50px;
}

#spNuocUong img{
    width: 300px;

}