@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper{
    width: 100%;
    height: 100vh;
}

#header{
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  orange;
}

#menu{
    list-style: none;
    display: flex;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 18.5167px;
    line-height: 22px;
    align-items: center;
}


#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.625);
}

.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33,333%;
}

#btn-user{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-color:  orange;
}

#btn-cart{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-color:  orange;
}

.logo{
    width: 33,333%;
}

.banner{
    background-image: url('/hinh/banner\ 1.png');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

#menu .item a:hover{
    color: white;
}

#header img{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#review{
    width: 50%;
    text-align: left;
    margin-left: 250px;
    padding-top: 130px;
    color: orange;
}

#review h3{
    font-size: 40px;
}
#review h2{
    font-size: 55px;
    line-height: 30px;
}

#review h1{
    font-size: 100px;
    line-height: 120px;
    margin-left: -5px ;
}

#review button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:orange;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
    margin-left: 10px;
}

#features{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#features img{
    width: 60px;
    height: 60px;
}

#topList{
    width: 100%;
    height: 900px;
    text-align: center;
    padding-top: 70px;
    background-color: #D9D9D9;
    padding-left: 90px;
    padding-right: 90px;
}

#topList h1{
    color: orange;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-top: 50px;
    color: black;
}
.grid-item {
    align-items: center;
    display: flex;
    font-weight: bold;
}

.grid-item img{
    width: 300px;
    height: 300px;
}